<section id="exercise" class="container mx-auto w-full h-full max-w-7xl">
    <div class="bg-black">
        <!--Title-->
        <h1 class="text-white text-2xl text-center font-semibold mb-2 md:text-left md:text-4xl md:font-medium">
            Detalles del Ejercicio
        </h1>
        <!--card-->
        <div class="p-2 md:p-5 rounded-lg max-w-7xl mx-auto text-white">
            <!--Title of the first card-->
            <div class="flex justify-between items-center bg-secondary-300 rounded-md p-5">
                <h2 class="text-lg text-center md:text-2xl md:text-left text-white font-medium whitespace-pre-line">
                    {{ result.name }}
                </h2>
                <button (click)="addExercise()"
                    class="bg-primary text-white font-semibold rounded-full px-4 py-2 my-5 hover:opacity-75">
                    Agregar a mi rutina
                </button>
            </div>

            <!-- Exercise details -->
            <div
                class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-1 bg-secondary-300 mt-5 p-5 rounded-md place-items-center">
                <!-- The image and instructions -->
                <div class="col-span-1">
                    <img [src]="result.gifUrl" alt="Exercise gif" class="rounded-md" />
                </div>
                <div class="md:col-span-1 w-full">
                    <h4 class="text-lg font-bold text-center">Instrucciones:</h4>
                    <ul *ngIf="result.instructions && result.instructions.length > 0" class="list-decimal list-inside">
                        <li *ngFor="let instruction of result.instructions" class="lg:text-lg">
                            {{ instruction }}
                        </li>
                    </ul>
                </div>

                <!-- Additional info -->
                <div class="w-full lg:col-span-2 bg-primary flex flex-col mt-4 rounded-md">
                    <div class="text-center">
                        <h4 class="text-lg font-bold text-center w-full">
                            Detalles adicionales:
                        </h4>
                    </div>
                    <div class="flex flex-col xs:flex-row gap-2 justify-center p-2 flex-wrap">
                        <p class="font-bold">
                            Partes del cuerpo:
                            <span class="font-normal">{{ result.bodyPart }}</span>
                        </p>
                        <p class="font-bold">
                            Equipamiento:
                            <span class="font-normal">{{ result.equipment }}</span>
                        </p>
                        <p class="font-bold">
                            Objetivo: <span class="font-normal">{{ result.target }}</span>
                        </p>
                        <p class="font-bold">
                            Musculos secundarios:
                            <span class="font-normal">{{
                                result.secondaryMuscles
                                ? result.secondaryMuscles.join(", ")
                                : "N/A"
                                }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>