form{
    align-items: center;
}

button[type='submit'] {

    @media (max-width: 575.98px) {
        background: url('../../../assets/icons/search.svg') center center no-repeat;
        width: 25px;
        height: 16px;
        border: none;
        cursor: pointer;
        background-color: red;
        color: transparent;
        padding: 10px;
        box-sizing: content-box;
        border-radius: 0 9999px 9999px 0;
    }
}

input[type="text"] {
    @media (max-width: 575.98px) {
        width: 100%;
        border: none;
        border-radius: 9999px 0 0 9999px;
        padding: 10px;
        box-sizing: content-box;
        margin-right: 0;
    }
}

input,
select:focus:not(:focus-visible) {
    @apply focus:-outline-offset-1 focus:outline-primary;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


.center-container {
    margin-left: auto !important;
    margin-right: auto !important;
}
 
