<section id="plans" class="bg-black w-full mx-auto">
    <div class="px-4 mx-auto ">
        <div class="mx-auto lg:ml-5 text-center lg:text-left mb-8 lg:mb-4">
            <!-- Title and subtitle of the section -->
            <h1 class="text-white text-2xl text-center font-semibold mb-2 lg:text-left md:text-4xl md:font-medium">
                Planes
                de
                Entrenamiento</h1>
            <p class="mb-2 font-light text-secondary-100 text-sm md:text-base">Si no lo pruebas, no te convertirás
                en el superhéroe que deberías ser.</p>
        </div>
        <div class="grid lg:grid-flow-col lg:auto-cols-max justify-center gap-10">
            <!-- Pricing Card -->
            <div
                class="flex flex-col py-6 2xs:w-72 xs:w-96 md:w-[420px] h-fit text-secondary-100 bg-secondary-200 rounded-lg shadow xl:p-8">
                <!-- Title and subtitle of the card -->
                <h3 class="mb-4 text-center 2xs:text-lg md:text-2xl font-semibold">Plan gratuito</h3>
                <p class="break-all font-light text-secondary-100 2xs:text-sm md:text-base px-2">Alcance sus objetivos
                    de
                    acondicionamiento físico o mantenga su estilo de vida saludable con capacitación profesional.</p>
                <!-- List -->
                <ul role="list" class="p-6 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">+30 Ejercicios de acuerdo a tus necesidades.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <span class="2xs:text-sm md:text-base">+5 Rutinas diferentes.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sin Articulos fitness.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Calculadora de calorías.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sin tarjetas.</span>
                    </li>
                </ul>

                <!-- Price -->
                <div class="flex justify-center items-baseline my-4">
                    <span class="mr-2 2xs:text-xl md:text-3xl font-extrabold">RD$0.00</span>
                    <span class="text-secondary-100">/Mensual</span>
                </div>
                <!-- Button or link -->
                <div class="flex justify-center" >
                  <button disabled
                    class="text-white bg-primary hover:bg-opacity-90 focus:ring-4 focus:ring-primary font-semibold rounded-lg text-xs mx-auto  mb-0 w-36 py-1.5 text-center cursor-pointer">Plan actual</button>

                </div>
                </div>
            <!-- Pricing Card -->
            <div
                class="flex flex-col py-6 2xs:w-72 xs:w-96 md:w-[420px] h-fit text-secondary-100 bg-secondary-200 rounded-lg shadow xl:p-8">
                <!-- Title and subtitle of the card -->
                <h3 class="mb-4 text-center 2xs:text-lg md:text-2xl font-semibold">Plan Premium</h3>
                <p class="break-all font-light text-secondary-100 2xs:text-sm md:text-base px-2">Incluye todo lo que
                    obtienes con una
                    membresía gratuita y agrega nuevas funciones de conveniencia, herramientas de acondicionamiento
                    físico y contenido único.</p>

                <!-- List -->
                <ul role="list" class="p-6 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sitio web y vídeos sin publicidad.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Estadísticas para sus actividades.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Dieta nutricional.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Entrenamientos exclusivos premium.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Contenido y desafíos premium.</span>
                    </li>
                </ul>
                <!-- Price -->
                <div class="flex justify-center items-baseline my-4">
                    <span class="mr-2 2xs:text-xl md:text-3xl font-extrabold">RD$1,000.00</span>
                    <span class="text-secondary-100">/Mensual</span>
                </div>
                <!-- Button or link -->
                <button (click)="renderPaypalButton()" id="myPaypalButtons"
                
    class="text-white bg-primary hover:bg-opacity-90 focus:ring-4 focus:ring-primary font-semibold rounded-lg text-xs mx-auto  mb-0 w-36 py-1.5 text-center cursor-pointer">Obtener</button>
    <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AZ99lrz028ICNW9UzlJnruNd3UAkEzoEAQ9t4CbmCkt6Sldc9F9FV0FCecQHX5Xw5hk5r8PzRlxer54I"></script>

</section>
