<div class="bg-black">
    <div
        class="flex flex-col items-center justify-between lg:flex-row w-full mx-auto py-20 px-4 sm:px-6 lg:py-32 lg:px-16 xl:px-36">
        <div class="block text-center">
            <!-- Title of the CTA -->
            <h2 class="text-2xl font-bold text-primary xs:text-4xl">
                ¿Todo listo para Iniciar?
            </h2>
            <!-- Subtitle of the CTA -->
            <span class="text-base xs:text-lg text-secondary-100">
                Registrate o Contactános
            </span>
        </div>
        <div class="flex flex-col md:flex-row lg:mt-0 lg:flex-shrink-0">
            <!-- First button -->
            <div class="inline-flex rounded-md shadow my-4 mx-auto md:my-0">
                <button type="button"
                    class="2xs:py-3 2xs:px-10 md:py-4 md:px-16 bg-primary hover:bg-opacity-75 focus:ring-primary focus:ring-offset-primary text-white md:w-full transition ease-in duration-200 text-center text-base font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
                    Registrarse
                </button>
            </div>
            <!-- Second button -->
            <div class="inline-flex md:ml-3 rounded-md mx-auto shadow">
                <button type="button"
                    class="2xs:py-3 2xs:px-9 md:py-4 md:px-16 bg-transparent border border-secondary-100 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white md:w-full transition ease-in duration-200 text-center text-base font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
                    Contáctanos
                </button>
            </div>
        </div>
    </div>
</div>