<section id="plans" class="bg-black w-full mx-auto">
    <div class="py-8 px-4 mx-auto lg:py-16 lg:px-10">
        <div class="mx-auto lg:ml-20 text-center lg:text-left max-w-screen-md mb-8 lg:mb-12">
            <!-- Title and subtitle of the section -->
            <h2 class="mb-4 2xs:text-2xl md:text-4xl tracking-tight font-extrabold text-white">Planes
                de
                Entrenamiento</h2>
            <p class="mb-5 font-light text-secondary-100 text-sm md:text-base">Si no lo pruebas, no te convertirás
                en el superhéroe que deberías ser.</p>
        </div>
        <div class="grid lg:grid-flow-col lg:auto-cols-max justify-center gap-10 lg:gap-20">
            <!-- Pricing Card -->
            <div class="flex flex-col py-6 2xs:w-72 xs:w-96 md:w-[420px] h-full text-secondary-100 bg-secondary-200 rounded-lg shadow xl:p-8">
                <!-- Title and subtitle of the card -->
                <h3 class="mb-4 text-center 2xs:text-lg md:text-2xl font-semibold">Plan gratuito</h3>
                <p class="break-all font-light text-secondary-100 2xs:text-sm md:text-base px-2">Alcance sus objetivos de
                    acondicionamiento físico o mantenga su estilo de vida saludable con capacitación profesional.</p>
                <!-- List -->
                <ul role="list" class="p-6 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">+30 Ejercicios de acuerdo a tus necesidades.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <span class="2xs:text-sm md:text-base">+5 Rutinas diferentes.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sin Articulos fitness.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Calculadora de calorías.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sin tarjetas.</span>
                    </li>
                </ul>

                <!-- Price -->
                <div class="flex justify-center items-baseline my-2">
                    <span class="mr-2 2xs:text-xl md:text-3xl font-extrabold">RD$0.00</span>
                    <span class="text-secondary-100">/Mensual</span>
                </div>
                <!-- Button or link -->
                <div class="flex mx-auto lg:ml-2 lg:mt-40 hover:underline">
                    <a href="#"
                        class="text-primary font-medium rounded-lg text-sm ml-4 mr-2 py-2.5 text-center">Continuar</a><img class="w-4 h4" src="../assets/icons/arrowRight.svg" alt="arrow right" />
                </div>
            </div>
            <!-- Pricing Card -->
            <div class="flex flex-col py-6 2xs:w-72 xs:w-96 md:w-[420px] h-full text-secondary-100 bg-secondary-200 rounded-lg shadow xl:p-8">
                <!-- Title and subtitle of the card -->
                <h3 class="mb-4 text-center 2xs:text-lg md:text-2xl font-semibold">Plan Premium</h3>
                <p class="break-all font-light text-secondary-100 2xs:text-sm md:text-base px-2">Incluye todo lo que
                    obtienes con una
                    membresía gratuita y agrega nuevas funciones de conveniencia, herramientas de acondicionamiento
                    físico y contenido único.</p>

                <!-- List -->
                <ul role="list" class="p-6 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Sitio web y vídeos sin publicidad.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Estadísticas para sus actividades.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Dieta nutricional.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Entrenamientos exclusivos premium.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-4 h-4" src="../assets/icons/sphere.svg" alt="red dot" />
                        <!-- Text -->
                        <span class="2xs:text-sm md:text-base">Contenido y desafíos premium.</span>
                    </li>
                </ul>
                <!-- Price -->
                <div class="flex justify-center items-baseline my-4">
                    <span class="mr-2 2xs:text-xl md:text-3xl font-extrabold">RD$1,000.00</span>
                    <span class="text-secondary-100">/Mensual</span>
                </div>
                <!-- Button or link -->
                <a href="#"
                    class="text-white bg-primary hover:bg-opacity-90 focus:ring-4 focus:ring-primary font-semibold rounded-xl text-xs mx-auto lg:ml-4 lg:mt-40 xl:ml-2 w-36 py-1.5 text-center">Unéte
                    ahora!</a>
            </div>
        </div>
    </div>
</section>