<section id="testimonials">
    <div class="w-full md:p-4 lg:p-10 bg-primary">
        <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true">
            <ng-template let-item pTemplate="item" class="w-full mx-auto">
                <div class="flex flex-col items-center justify-center">
                    <!--The Profile pic-->
                    <img [src]="item.image" class="2xs:w-36 md:w-44 lg:w-64 max-w-sm mt-2 mx-auto rounded-full"
                        alt="item.alt" width="500px">
                    <!--The name and title-->
                    <h2 class="text-white 2xs:text-sm xs:text-base sm:text-lg md:text-xl font-bold my-2">{{item.title}}
                    </h2>
                    <!--The testimonial message-->
                    <p class="text-white 2xs:text-xs xs:text-base md:text-lg md:p-4 text-center sm:w-9/12 lg:w-6/12">
                        {{item.text}}
                    </p>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</section>