<section id="profile" class="container mx-auto w-full h-full">
    <div class="bg-black text-white">
        <!--Title-->
        <h1 class="text-2xl text-center font-semibold mb-2 md:text-left md:text-4xl md:font-medium">
            Carrito
        </h1>
        <!--card-->
        <div class="bg-secondary-300 p-5 rounded-lg max-w-7xl mx-auto lg:p-14 mt-10 align-middle">
            <!--subtitle-->
            <h2 class="text-lg text-center md:text-2xl md:text-left text-white font-medium mb-4 xs:ml-5 lg:ml-10">
                Resumen del pedido
            </h2>
            <!-- The summary -->
            <div class="flex flex-col gap-10 md:gap-5 lg:flex-row items-center justify-center">
                <div class="flex-col mx-auto justify-center items-center lg:justify-normal lg:max-w-sm">
                    <div
                        class="flex md:text-lg lg:text-xl font-bold border-b-2 border-b-white gap-44 xs:gap-[17rem] md:gap-[17.5rem] lg:gap-[16rem] xl:gap-[15.5rem] 2xl:gap-[16.5rem]">
                        <span>Plan</span>
                        <span>Precio</span>
                    </div>
                    <!-- Dinamically updated -->
                    <div
                        class="flex text-sm md:text-base lg:text-lg gap-24 xs:gap-52 lg:gap-[8rem] xl:gap-[7.5rem] 2xl:gap-36">
                        <span>{{ nombrePlan }}</span> <!-- Dinamically updated -->
                        <span>RD$ {{ precioPlan.toFixed(2) }}</span> <!-- Dinamically updated -->
                    </div>
                    <div
                        class="flex md:text-lg lg:text-xl gap-12 xs:gap-[9.5rem] md:gap-[9rem] lg:gap-[4.5rem] xl:gap-[4rem] 2xl:gap-[5rem] mt-20 border-t-2 border-t-white">
                        <span class="font-bold">Total a pagar hoy</span>
                        <span class="text-sm md:text-base lg:text-lg">RD$ {{ precioPlan.toFixed(2) }}</span>
                        <!-- Dinamically updated -->
                    </div>
                    <p class="text-xs mt-2">*Esto es un pago mensual</p>

                    <div class="flex-col justify-center items-center mx-auto mt-10">
                        <h2 class="text-lg lg:text-xl text-center font-semibold">Selecciona el método de pago</h2>
                        <div #myPaypalButtons class="relative text-white z-40"></div>
                        <p id="result-message" class="text-white"></p>
                        <script
                            src="https://www.paypal.com/sdk/js?client-id=test&components=buttons&vault=true&intent=subscription&enable-funding=card&disable-funding=paylater"
                            data-sdk-integration-source="integrationbuilder_sc"></script>
                    </div>

                </div>
                <!-- The image -->
                <div class="relative -mt-10 mx-auto">
                    <img src="../../../assets/images/womanTraining.svg" alt="Woman training"
                        class="xs:hidden lg:block" />
                </div>
            </div>
        </div>
    </div>
    <app-paypalmodal [visible]="visible" [message]="message" (closeModal)="onClose()"></app-paypalmodal>
</section>