<section class="bg-black">
    <div class="grid max-w-screen-xl px-10 py-8 mx-auto md:px-20 md:gap-8 xl:gap-0 md:py-16 md:grid-cols-12">
        <div class="mr-auto place-self-center md:col-span-7">
            <!--The title and subtitle here-->
            <h1
                class="max-w-2xl mb-4 text-4xl text-primary font-medium tracking-tight leading-none md:text-4xl xl:text-5xl">
                Transformate, Donde Sea Que Estés</h1>
            <p class="max-w-2xl mb-6 font-light text-white lg:mb-8 text-sm lg:text-base">Con Fitplans+, el camino hacia
                una versión más fuerte y saludable de ti mismo comienza aquí.</p>
            <!--The link that looks like a red button-->
            <a (click)="goToLogin()" 
                class="inline-flex items-center justify-center px-10 py-2 text-sm font-medium text-center bg-primary text-white rounded-md hover:bg-opacity-75 focus:ring-4 focus:ring-secondary-100 cursor-pointer">
                Empezar
            </a>
        </div>
        <!--The image on the right-->
        <div class="hidden md:mt-0 md:col-span-5 md:flex">
            <img src="../assets/images/hero.svg" alt="A man doing exercises">
        </div>
    </div>
</section>