.modal {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }

  .modal-content {
    background-color: #fff;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999; 
  }
