<section id="payments" class="w-full h-full max-w-full mx-auto">
  <!-- Transactions -->
  <div class="bg-black">
    <!-- Title -->
    <h2 class="text-white text-center text-2xl font-semibold mb-2 md:text-left md:text-4xl md:font-medium">
      Transacciones
    </h2>
    <!-- Transactions card -->
    <div class="flex flex-col w-auto max-w-[60rem] ml-5 bg-secondary-300 p-5 rounded-lg">
      <span class="block text-white bg-primary hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-opacity-75 font-semibold rounded-lg text-sm w-full sm:w-auto px-6 py-1.5 mx-auto sm:mr-0 text-center z-20 cursor-pointer">
        27/07/2023
      </span>
      <table class="w-full flex flex-row flex-no-wrap sm:bg-secondary-200 rounded-lg overflow-hidden sm:shadow-lg my-5">
        <thead class="text-white">
          <tr class="bg-primary flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0" *ngFor="let payment of payments">
            <th class="p-3 text-left sm:text-center">ID</th>
            <th class="p-3 text-left sm:text-center">Nombre</th>
            <th class="p-3 text-left sm:text-center">Monto</th>
            <th class="p-3 text-left sm:text-center">Estado</th>
            <th class="p-3 text-left sm:text-center">Fecha</th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none text-white">
          <tr class="flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0" *ngFor="let payment of payments">
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.id }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.name }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.amount }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.status }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Invoice -->
  <div class="bg-black mt-10 w-full">
    <!-- Title -->
    <h2 class="text-white text-center text-2xl font-semibold mb-2 md:text-left md:text-4xl md:font-medium">
      Facturas
    </h2>
    <!-- Invoice card-->
    <div class="flex flex-col w-auto max-w-[60rem] ml-5 bg-secondary-300 p-5 rounded-lg">
      <span class="block text-white bg-primary hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-opacity-75 font-semibold rounded-lg text-sm w-full sm:w-auto px-6 py-1.5 mx-auto sm:mr-0 text-center z-20 cursor-pointer">
        27/07/2023
      </span>
      <table class="w-full flex flex-row flex-no-wrap sm:bg-secondary-200 rounded-lg overflow-hidden sm:shadow-lg my-5">
        <thead class="text-white">
          <tr class="bg-primary flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0" *ngFor="let payment of payments">
            <th class="p-3 text-left sm:text-center">ID</th>
            <th class="p-3 text-left sm:text-center">Nombre</th>
            <th class="p-3 text-left sm:text-center">Monto</th>
            <th class="p-3 text-left sm:text-center">Fecha</th>
            <th class="p-3 text-left sm:text-center">PDF</th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none text-white">
          <tr class="flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0" *ngFor="let payment of payments">
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.id }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.name }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.amount }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3">{{ payment.date }}</td>
            <td class="border-secondary-400 border selection:bg-primary p-3 sm:mx-auto">
              <button class="block hover:opacity-50 text-sm w-full mx-auto text-center cursor-pointer" (click)="downloadInvoice()">
                <img src="../../../assets/icons/pdf.svg" alt="pdf icon" class="ml-0 sm:mx-auto">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
