<section id="faq" class="w-full mx-auto px-5 bg-black py-10 md:py-28">
    <div class="flex flex-col items-center">
        <!-- Title -->
        <h2 class="text-white text-center text-3xl md:text-4xl font-medium md:font-bold tracking-tight">
            Preguntas frecuentes
        </h2>
    </div>
    <div class="grid max-w-5xl mx-auto mt-10">
        <!-- Accordion wrapper -->
        <div *ngFor="let faq of faqs" class="">
            <details class="group">
                <!-- Question -->
                <summary
                    class="flex justify-between items-center px-6 py-2 font-medium text-white bg-primary cursor-pointer list-none border border-secondary-100 rounded-sm">
                    <span class="text-sm xs:text-base md:text-lg">{{ faq.question }}</span>
                    <span class="transition group-open:rotate-180">
                        <img src="../../../assets/icons/arrowDownward.svg" class="2xs:w-8 2xs:h-8 xs:w-5 xs:h-5"
                            alt="Arrow Downward" />
                    </span>
                </summary>
                <!-- Answer -->
                <p class="text-sm xs:text-base md:text-lg text-secondary-100 my-3 group-open:animate-fadeIn">
                    {{ faq.answer }}
                </p>
            </details>
        </div>
    </div>
</section>
