<section class="flex flex-col w-full justify-center mx-auto py-10 bg-black text-white">
    <!--Title of the section-->
    <h1 class="2xs:text-2xl md:text-4xl text-white text-center font-bold my-10">Nuestro Equipo</h1>

    <div class="flex flex-col md:flex-row mx-auto">
        <!-- First card -->
        <div class="flex flex-col justify-center items-center bg-secondary-200 px-10 py-14 mx-auto rounded-md">
            <img src="../../../assets/images/mariana.svg" alt="Mujer con pelo rubio y pesas">
            <h2 class="font-bold my-2">Mariana Perez</h2>
            <p>Entrenadora Experta</p>
        </div>

        <!-- Second card -->
        <div class="flex flex-col justify-center items-center bg-secondary-200 px-10 py-14 my-4 mx-auto md:mx-4 lg:mx-20 rounded-md">
            <img src="../../../assets/images/manu.svg" alt="Hombre asiatico de pelo negro">
            <h2 class="font-bold my-2">Manu Cheng</h2>
            <p>Nutricionista</p>
        </div>

        <!-- Third card -->
        <div class="flex flex-col justify-center items-center bg-secondary-200 px-10 py-14 mx-auto rounded-md">
            <img src="../../../assets/images/esmeralda.svg" alt="Joven de pelo negro corto">
            <h2 class="font-bold my-2">Esmeralda Samoa</h2>
            <p>Entrenadora Experta</p>
        </div>
    </div>
</section>