<footer class="bg-black text-white border-t border-primary">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-center items-center gap-20">
            <!--Left Side-->
            <div class="mb-6 md:mb-0">
                <a href="#" class="flex flex-col items-center">
                    <img src="../../assets/icons/logo.svg" class="w-full max-w-sm" alt="Logo" />
                    <span class="hidden md:block text-center text-[10px] lg:text-xs font-semibold -mt-5 lg:-mt-10">©Todos los derechos reservados
                        2010 — 2024 - Privacy — Terms </span>
                </a>
            </div>
            <!--Right Side-->
            <div class="grid grid-cols-2 gap-8 sm:gap-5 sm:grid-cols-3 sm:justify-items-center px-5">
                <!--First Column-->
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase">Enlaces rápidos</h2>
                    <ul class="font-medium">
                        <li>
                            <a href="#" class="hover:underline">Inicio</a>
                        </li>
                        <li class="my-1">
                            <a href="#about" class="hover:underline">Nosotros</a>
                        </li>
                        <li>
                            <a href="#team" class="hover:underline">Nuestro equipo</a>
                        </li>
                    </ul>
                </div>

                <!--Second Column-->
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase">Otros enlaces</h2>
                    <ul class="font-medium">
                        <li>
                            <a href="#testimonials" class="hover:underline ">Testimonios</a>
                        </li>
                        <li class="my-1">
                            <a href="#plans" class="hover:underline">Planes de entrenamiento</a>
                        </li>
                        <li>
                            <a href="#faq" class="hover:underline">Preguntas frecuentes</a>
                        </li>
                    </ul>
                </div>

                <!--Third Column-->
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase">Soporte</h2>
                    <ul class="font-medium">
                        <li class="mb-1">
                            <a href="#" class="hover:underline">Contacto</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terminos y condiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Mobile Rights-->
        <div class="flex items-center justify-center text-center md:hidden mt-20">
            <span class="text-sm sm:text-center">©Todos los derechos reservados
                2010-2024<a href="#" class="block hover:underline">Privacy-Terms </a>
            </span>
        </div>
    </div>
</footer>